In [1]:
#Load Libraries
import pandas as pd

In [7]:
#Load Dataset
dataset = pd.read_csv('CO2-Emissions_Canada.csv')
dataset.head()

,Make,Model,Category,Vehicle Class,Engine Size(L),Cylinders,Transmission Type,No of Gears,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,Sedan,COMPACT,2.0,4,AS,5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,Sedan,COMPACT,2.4,4,M,6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,Sedan,COMPACT,1.5,4,AV,7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,Truck,SUV - SMALL,3.5,6,AS,6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,Truck,SUV - SMALL,3.5,6,AS,6,Z,12.1,8.7,10.6,27,244

In [9]:
dataset.describe()

,Engine Size(L),Cylinders,No of Gears,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
count,7044.000000,7044.000000,7044.000000,7044.000000,7044.000000,7044.000000,7044.000000,7044.000000
mean,3.206502,5.675752,6.885860,12.747061,9.136996,11.123055,26.957127,253.746451
std,1.360041,1.839098,1.208625,3.420669,2.202274,2.838609,6.627586,56.933792
min,0.900000,3.000000,4.000000,4.200000,4.000000,4.100000,11.000000,96.000000
25%,2.000000,4.000000,6.000000,10.300000,7.600000,9.100000,22.000000,211.000000
50%,3.000000,6.000000,6.000000,12.200000,8.700000,10.700000,26.000000,248.000000
75%,3.800000,6.000000,8.000000,14.700000,10.300000,12.700000,31.000000,290.000000
max,8.400000,16.000000,10.000000,30.600000,20.600000,26.100000,69.000000,522.000000